<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Viettel</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<div class="container logo">
			<div class="row ">
				<div class="col-md-4">
					<img src="images/viettel-logo272x90.png" >
				</div>
				<div class="col-md-8">
					<img src="images/ftth-viettel.jpg" >
				</div>
			</div>
		</div>
		<div class="menubox">
			<div id="menu" class="container">
			   <div class="menu active">
			   		<span><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></span>
			   </div>
			   <div class="menu list">
			   		<span><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i>Internet Viettel</a></span>
			   		<div class="lsub">
			   			<a href="#"><p>Mobile Internet</p></a>
			   			<a href="#"><p>Mobile Internet</p></a>
			   			<a href="#"><p>Mobile Internet</p></a>
			   		</div>
			   </div>
			   <div class="menu delist">
			   		<span><a href="#"><i class="fa fa-building" aria-hidden="true"></i>Dịch vụ doanh nghiệp</a></span>
			   		<div class="col-md-12 dlsub">
			   			<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="item col-md-2">
			   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
							<p><a href="#">Lắp mạng cap quang Viettel</a></p>
						</div>
						<div class="delistcontrol col-md-12">
				            <a class="" href="#text-carousel" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="" href="#text-carousel" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
			   		</div>
			   </div>
			</div>
		</div>
		<div id="text-carousel" class="container carousel slide newhot" data-ride="carousel">
			<div class="col-md-1 titlehot p">
				<h4>TIN HOT</h4>
			</div>
			<div class="carousel-inner col-md-9">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controlslide">
	            <a class="" href="#text-carousel" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="" href="#text-carousel" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</header>
	<div id="container" class="container">
		<div class="col-md-8">
			<div class="content col-md-12 p">
				
			</div>
			<div class="bvlienquan col-md-12 p">
			<h4><span>BÀI VIẾT LIÊN QUAN</span></h4>
				<div class="col-md-12 p">
					<div class="item col-md-4">
		   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
						<p><a href="#">Lắp mạng cap quang Viettel</a></p>
					</div>
					<div class="item col-md-4">
		   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
						<p><a href="#">Lắp mạng cap quang Viettel</a></p>
					</div>
					<div class="item col-md-4">
		   				<a href="#"><img src="images/cáp-quang-ftth-4-324x235.png"></a>
						<p><a href="#">Lắp mạng cap quang Viettel</a></p>
					</div>
				</div>
			</div>
			<div class="khuyenmai col-md-12 p">
			<h4><span>KHUYỄN MÃI CAP QUANG</span></h4>
				<div class="col-md-6 p">
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
				</div>
				<div class="col-md-6">
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
					<div class="item">
						<p><a href="#">Lắp mạng cáp quang Viettel tại KĐT Trung Hòa Nhân Chính</a></p>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>	
					</div>
				</div>
			</div>
			<div class="col-md-12 lienquan p">
				<h4><span>TIN TỨC CÁP QUANG VIETTEL</span></h4>
				<div class="item col-md-12 p">
					<div class="img col-md-2 col-xs-2 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-10 col-xs-10 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						<div class="summary">Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội Khuyến mại Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội cực lớn,...</div>
					</div>
				</div>
				<div class="item col-md-12 p">
					<div class="img col-md-2 col-xs-2 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-10 col-xs-10 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						<div class="summary">Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội Khuyến mại Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội cực lớn,...</div>
					</div>
				</div>
				<div class="item col-md-12 p">
					<div class="img col-md-2 col-xs-2 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-10 col-xs-10 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						<div class="summary">Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội Khuyến mại Lắp mạng cáp quang Viettel Khu đô thị mới Dương Nội cực lớn,...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 right">
			<div>
				<img src="images/Khuyến-mãi-cáp-quang-Viettel-2016-300x194.jpg" >
			</div>
			<div class="rrone">
				<h4><span>DỊCH VỤ DOANH NGHIỆP</span></h4>
				<p><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i>Dịch vụ Internet Viettel</a></p>
				<p><a href="#"><i class="fa fa-building" aria-hidden="true"></i>Dịch vụ doanh nghiệp</a></p>
				<p><a href="#"><i class="fa fa-rss" aria-hidden="true"></i>Dịch vụ Internet Viettel</a></p>
			</div>
			<div class="rrtwo">
				<h4><span>GÓI CƯỚC CAP QUANG</span></h4>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Dịch vụ Internet Viettel</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Dịch vụ doanh nghiệp</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Dịch vụ Internet Viettel</a></p>
			</div>
			<div class="rrthree col-md-12 p">
				<h4><span>GÓI CƯỚC CAP QUANG</span></h4>
				<div class="item col-md-12 p">
					<div class="img col-md-4 col-xs-4 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-8 col-xs-8 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
					</div>
				</div>
				<div class="item col-md-12 p">
					<div class="img col-md-4 col-xs-4 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-8 col-xs-8 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
					</div>
				</div>
				<div class="item col-md-12 p">
					<div class="img col-md-4 col-xs-4 p">
						<img src="images/cáp-quang-ftth-4-150x150.png">
					</div>
					<div class="col-md-8 col-xs-8 info">
						<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
						<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
					</div>
				</div>
			</div>
			<div class="rrtwo col-md-12 p">
				<h4><span>Cáp Quang Viettel tại TP. Hồ Chí Minh</span></h4>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
				<p><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Cáp Quang Viettel tại Quận 1 Hồ Chí Minh</a></p>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row p">
				<div class="col-md-4 frone">
				<h4>BÀI VIẾT TIÊU BIỂU</h4>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
				</div>
				<div class="col-md-4 frtwo">
					<h4>BÀI VIẾT TIÊU BIỂU</h4>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
					<div class="item col-md-12 p">
						<div class="img col-md-4 col-xs-4 p">
							<img src="images/cáp-quang-ftth-4-150x150.png">
						</div>
						<div class="col-md-8 col-xs-8 info">
							<h5><a href="#">Lắp mạng cáp quang viettel Quận Thanh Xuân</a></h5>
							<span class="glyphicon glyphicon-calendar"></span><i>20/06/2016</i>
						</div>
					</div>
				</div>
				<div class="col-md-4 frthree">
					<h4>MỤC XEM NHIỀU</h4>
					<p><a href="#">Cáp quang</a><span>302</span></p>
					<p><a href="#">Khuyến mại cáp quang Viettel</a><span>122</span></p>
					<p><a href="#">Tin tức cáp quang Viettel</a><span>532</span></p>
					<p><a href="#">Gói cước cáp quang Viettel</a><span>12</span></p>
					<p><a href="#">Tin tức Viettel</a><span>385</span></p>
					<p><a href="#">Tin khuyến mại</a><span>1356</span></p>
				</div>
			</div>
			<div class="row p">
				<div class="col-md-4 frfour">
					<h4>Lắp đặt mạng Viettel Hà Nội</h4>
					<p><a href="#">Lắp Mạng Viettel tại huyện Thanh Trì</a></p>
					<p><a href="#">Lắp mạng Viettel quận Long Biên</a></p>
					<p><a href="#">Lắp mạng Viettel quận Hai Bà Trưng</a></p>
					<p><a href="#">Lắp mạng Viettel tại quận Thanh Xuân</a></p>
					<p><a href="#">Lắp mạng Viettel quận Nam Từ Liêm</a></p>
					<p><a href="#">Lắp mạng Viettel tại quân Bắc Từ Liêm</a></p>
				</div>
				<div class="col-md-4 frfive">
					<h4>LIÊN KẾT NỘI</h4>
					<p><a href="#">Lắp mạng viettel</a></p>
					<p><a href="#">Internet Viettel</a></p>
					<p><a href="#">Cáp quang Viettel</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
<div id="copyright"><a href="http://apycom.com/"></a></div>